body {
	background-color: #000;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

object {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}